<div class="project-list-container" ng-class="{'loading-projects':$projects.busy}" infinite-scroll='$projects.getAll($storage.sort, 50)' infinite-scroll-disabled='$projects.busy'>
    <switch-project></switch-project>
    <div class="dash-project" ng-repeat="project in projects">
        <div class="title"><span ng-show="" class="icon-pause"></span> <a href="#/projects/{{project.id}}">{{project.title}}</a></div>
        <div class="pomo pull-left">
            {{project.pomo_count}}<br>
            <span>Pomo</span>
        </div>
        <div class="min pull-right">
            {{project.time}}<br>
            <span>Time</span>
        </div>
        <div class="bottom-btn">
            <div class="start pull-left" ng-click="toggleProject(project)"><span>{{actionTitle(project)}}</span></div>
            <a href="#/projects/{{project.id}}"><div class="view pull-right"><span>View</span></div></a>
        </div>
    </div>
</div>