<div class="container-fluid page-container home-page">
    <div class="big-title">
        <h4>{{pomodoro.current_project    .title}}</h4>
        <span class="pull-right">{{pomodoro.period_type}}</span>
    </div>
    <div class="home-pomo-container">
        <div class="timer-box">
            <big-timer></big-timer>
        </div>
        <div class="pomo-box">
            <ul class="pomos">
                <li ng-repeat="period in periods">
                    {{period.type}} <span class="time">25 min</span><span class="icon-period-{{period.status}} pull-right"></span>
                </li>
            </ul>
        </div>
    </div>

    <h5 class="last-prj"><span class="icon-history"></span>Last projects</h5>
    <div class="dash-project-conteiner">
        <div class="dash-project" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
            <div class="title"><span ng-show="i%2 == 0" class="icon-pause"></span> <a href>Work Hard {{i}}</a></div>
            <div class="pomo pull-left">
                20<br>
                <span>pomo</span>
            </div>
            <div class="min pull-right">
                600<br>
                <span>min</span>
            </div>
            <div class="bottom-btn">
                <div class="start pull-left"> <span>Start</span> </div>
                <div class="view pull-right"> <span>View</span> </div>
            </div>
        </div>
    </div>
</div>