<div class="big-timer">
    <div class="title">
        <b class="project-title ellipsis">{{projectsManager.current_project.title}}</b>
        <span class="pull-right">{{pomodoro.period_type}}</span>
    </div>
    <div class="canvas-conteiner">
        <div class="time">
            <b>{{("00" + pomodoro.min).slice(-2)}} : {{("00" + pomodoro.sec).slice(-2)}}</b>
            <br>
            <span ng-show="isPomoStrted()" class="icon-play"></span>
            <span ng-show="isPomoPaused()" class="icon-pause"></span>
        </div>
        <canvas height="200" width="200" id="timer0"> </canvas>
        <canvas height="200" width="200" id="timer" ng-click="pomodoroToggle()" ></canvas>
    </div>
    <div class="last-projects">
        <span><span class="icon-history"></span>Last projects</span>
        <ul>

            <li ng-repeat="project in timerProjets" ng-class="{'hide-last-pjct':canHide($index)}">
                <button type="button" class="btn btn-default ellipsis" ng-click="pomodoro.toggleProject(project)">
                    {{project.title}}
                </button>
            </li>
            <li>
                <a href="#/projects" class="btn btn-default" role="button">All</a>
            </li>
        </ul>
    </div>
</div>