<div class="container-fluid timer-container" ng-controller="topItemCtrl">
    <small-timer></small-timer>
    <create-project-btn></create-project-btn>
</div>
<div class="container-fluid page-container projects-page">


    <div class="projects-sort-container" ng-class="{'menu-open':isMenuOpen}">
        <h3 class="title">Projects</h3>
        <div class="sort-container">
            <div class="menu-btn" ng-click="toggleSortMenu()">
                <span class="icon-three"></span>
            </div>

            <div class="sort-items">
                <div class="sort-btn" ng-repeat="sort in sort_type" ng-click="sortProject(sort)"
                    ng-class="{'current-sort':currentSort(sort)}">
                    <span class="icon-long-arrow-down" ng-show="showArrowASC(sort)"></span>
                    <span class="icon-long-arrow-up" ng-show="showArrowDesc(sort)"></span>
                    <span class="icon-{{sort}}"></span>
                </div>
            </div>

        </div>
    </div>
    <projects-list></projects-list>
</div>