<div>
    <div class="create-poject-btn" data-toggle="modal" data-target="#myModal">
        <span>Create project <span class="icon-plus-circle"></span></span>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create project</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="addProject()">
                        <h3>Add a new project</h3>
                        <input type="text" placeholder="Title" ng-model="title" class="form-control">

                        <div>
                            <span class="title">Pomo time: </span>
                            <input type="number" min="0" restrict-input ng-model="pomo_time" class="form-control time">
                        </div>

                        <button type="submit" class="btn btn-default submit">Create</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
