<div id="mySidenav" class="sidenav">
    <ul>
        <li><a ng-click="closeMobMenu()">Close <span class="icon-cross"></span></a></li>
        <li ng-show="signedIn()"><a href="#/dashboard">Dashboard</a></li>
        <li ng-show="signedIn()"><a href="#/{{ user.id }}">Account</a></li>
        <li role="separator" class="divider"></li>
        <li class="log-out" ng-show="signedIn()"><a ng-click="logout()">Log Out</a></li>
        <li ng-hide="signedIn()"><a href="#/login">Log In</a></li>
        <li ng-hide="signedIn()"><a href="#/register">Register</a></li>
    </ul>
</div>