<div class="info-conteinr">
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{ active:isSelected(1) }">
            <a href ng-click="setTab(1)">All time</a>
        </li>
        <li role="presentation" ng-class="{ active:isSelected(2) }">
            <a href ng-click="setTab(2)">Last month</a>
        </li>
        <li role="presentation" ng-class="{ active:isSelected(3) }">
            <a href ng-click="setTab(3)">Last project</a>
        </li>
    </ul>
    <div class="info" ng-show="isSelected(1)">
        <h4>All time</h4>
        <div class="pomo-inf circle text-center">
            <span class="count"> 24 </span><br>
            <b> pomo </b>
        </div>
        <div class="min-inf circle text-center">
            <span class="count"> 600 </span><br>
            <b> min </b>
        </div>

        <table >
            <tbody>
            <tr>
                <td>6</td>
                <td>Pomo cycle</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Shot break</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Long break</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="info" ng-show="isSelected(2)">
        <h4>Last month</h4>
        <div class="pomo-inf circle text-center">
            <span class="count"> 24 </span><br>
            <b> pomo </b>
        </div>
        <div class="min-inf circle text-center">
            <span class="count"> 600 </span><br>
            <b> min </b>
        </div>

        <table >
            <tbody>
            <tr>
                <td>6</td>
                <td>Pomo cycle</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Shot break</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Long break</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="info" ng-show="isSelected(3)">
        <h4>Last project</h4>
        <div class="pomo-inf circle text-center">
            <span class="count"> 24 </span><br>
            <b> pomo </b>
        </div>
        <div class="min-inf circle text-center">
            <span class="count"> 600 </span><br>
            <b> min </b>
        </div>

        <table >
            <tbody>
            <tr>
                <td>6</td>
                <td>Pomo cycle</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Shot break</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Long break</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>