@import "bootstrap/dist/css/bootstrap";
@import "icomoon";

@import "mixins";

@import "nav";
@import "dashboard";
@import "small-timer";
@import "create_project_btn";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.container-fluid.page-container{
  max-width: 1170px;
}

.ui-page{
  height: 100%;
  display: block;
}