@import "bootstrap/dist/css/bootstrap";
@import "icomoon";

@import "mixins";

@import "nav";
@import "dashboard";
@import "small-timer";
@import "create_project_btn";
@import "account";
@import "home";
@import "big-timer";
@import "projects_page";
@import "project";
@import "project-list-container";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.container-fluid.page-container{
  max-width: 1170px;
}

.ui-page{
  display: block;
}

.ellipsis{
  overflow:hidden !important;
  white-space:nowrap !important;
  text-overflow: ellipsis !important;
}

#deleteProject, #switchProject{
  .modal-body{
    text-align: center;
    .modal-message{
      line-height: 24px;
    }
    p {
      &:last-child {
        color: grey;
      }
    }
  }
}