.info-conteinr{

  text-align: center;


  .nav.nav-tabs{
    display: block;
    @include breakpoint(small){
      display: none !important;
    }
  }

  .info{
    margin-right: 10px;
    border-spacing: 5px;
    display: inline-block;


    @include breakpoint(small){
      display: inline-block !important;
    }

    h4{
      padding: 5px;
      background-color: #dedede;
    }

    /* ------------------ [ circle ] */
    .circle{
      width: 14vw;
      height: 14vw;
      border-radius: 50%;

      color: white;
      margin-right: 10px;
      display:table-cell;
      vertical-align: middle;
      background-color: #3c3c3c;

      @include breakpoint(large){
        width: 177px;
        height: 177px;
      }

      @include breakpoint(large) {
        width: 177px;
        height: 177px;
      }
    }
    .pomo-inf{

    }
    .min-inf{
    }
    .count{
      float:none;
      margin:0 auto;
      font-size: 20px;
    }
    /* ------------------ */

    table{
      width: 100%;
      border-spacing: 5px;
      border-collapse: separate;
      td{
        font-size: 2.5vw;
        line-height: 3vw;

        padding: 5px;

        color: white;
        border: 1px solid black;
        background-color: #3c3c3c;

        @include breakpoint(large){
          font-size: 23px;
          line-height: 35px;
        }
      }
    }
  }

  .info:last-child{
    margin: 0;
  }

}


//.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}
//
//
//
//.centering {
//  float:none;
//  margin:0 auto;
//}