.home-page{
  padding: 0;

  @include breakpoint(w486){
    padding: 0 15px;
  }


  .last-prj{
    margin-top: 280px;

    .icon-history{
      margin-right: 5px;
    }
  }

  .project-list-container, .last-prj{
    display: none;
    @include breakpoint(small){
     display: block;
    }
  }
}

.big-title{
  display: none;
  position: relative;
  margin-bottom: 20px;

  @include breakpoint(small){
    display: block;
  }

  >h4{
    width: 85%;
  }

  >span{
    right: 0;
    bottom: 0;
    position: absolute;
  }
}

.home-pomo-container{
  width: 100%;
  margin: auto;
  margin-top: 0;

  @include breakpoint(w486){
    width: 70%;
    margin-top: 10px;
  }

  .timer-box{
    width: 100%;
    float: none;

    @include breakpoint(small){
      width: 50%;
      float: left;
    }
  }

  .pomo-box{
    width: 100%;
    float: none;
    margin-top: 15px;

    @include breakpoint(small){
      width: 50%;
      float: right;
      margin-top: 0;
    }

    .pomos{
      padding: 0 10px 0 10px;

      @include breakpoint(small){
        padding: 0 0 0 40px;
      }

      li{
        padding: 0 5px;
        font-size: 18px;
        list-style: none;

        .time{
          font-size: 10px;
        }

        [class^="icon-"], [class*=" icon-"] {
          position: relative;
          top: 5px;
        }
      }

      .status-no{
        color: grey;
      }

      .status-started{
        background-color: #eaeaea;
      }

      .status-ended{
      }
    }
  }
}