.home-page{
  padding: 0;

  @include breakpoint(w486){
    padding: 0 15px;
  }


  .last-prj{
    margin-top: 280px;
  }

  .dash-project-conteiner, .last-prj{
    display: none;
    @include breakpoint(small){
     display: block;
    }
  }
}

.big-title{
  display: none;
  margin-bottom: 20px;

  @include breakpoint(small){
    display: block;
  }

  >h4{
    display: inline;
  }
}

.home-pomo-container{
  width: 100%;
  margin: auto;
  margin-top: 0;

  @include breakpoint(w486){
    width: 70%;
    margin-top: 10px;
  }

  .timer-box{
    width: 100%;
    float: none;

    @include breakpoint(small){
      width: 50%;
      float: left;
    }
  }

  .pomo-box{
    width: 100%;
    float: none;
    margin-top: 15px;

    @include breakpoint(small){
      width: 50%;
      float: right;
      margin-top: 0;
    }

    .pomos{
      padding: 0 10px 0 10px;

      @include breakpoint(small){
        padding: 0 0 0 40px;
      }

      li{
        list-style: none;
        font-size: 18px;

        .time{
          font-size: 10px;
        }

        [class^="icon-"], [class*=" icon-"] {
          position: relative;
          top: 5px;
        }
      }
    }
  }
}