.projects-page{
  padding: 0 5px;

  @include breakpoint(w486){
    padding: 0 15px;
  }


  .projects-sort-container{

      .title{
        display: inline-block;
      }

      .sort-container{
        top: 15px;
        float: right;
        position: relative;
        display: inline-block;

        .sort-btn, .menu-btn{
          width: 55px;
          font-size: 18px;
          cursor: pointer;
          padding-top: 5px;
          text-align: center;
          display: inline-block;
          background-color: lightgray;
        }

        .menu-btn{
          display: inline-block;
          background-color: white;

          @include breakpoint(w486){
            display: none;
          }
        }

        .sort-items{
          display: none;

          .current-sort{
            background-color: #545454;
            color: white;
          }
          @include breakpoint(w486){
            display: block;
          }
        }
      }
  }

  .menu-open{
    height: 105px;

    @include breakpoint(w486){
      height: auto;
    }

    .sort-container{
      right: 0;
      top: 123px; // 170
      width: 100%;
      padding: 0 5px 5px 5px;
      text-align: right;
      position: absolute;

      @include breakpoint(w486){
        top: 15px;
        float: right;
        position: relative;
        width: auto;
      }

      .menu-btn{
        margin-bottom: 7px;
        @include breakpoint(w486){
          margin: 0;
        }
      }

      .sort-items{
        width: 100%;
        text-align: center;
        display: block !important;

        @include breakpoint(w486){
          width: auto;
        }

        .sort-btn{
          width: 32%;
          padding-top: 8px;
          padding-bottom: 6px;

          @include breakpoint(w372){
            width: 32.6%;
          }

          @include breakpoint(w486){
            width: 55px;
            padding: 5px 0 0 0;
          }
        }
      }
    }
  }
}