.project-page{

  .sub-hint{
    font-size: 12px;
    color: #a1a1a1;
  }

  .edit-wrap{
    width: 100%;

    .user-field-container{
      width: 100%;
    }
  }

  #deleteProject{
    .modal-body{
      text-align: center;
      .modal-message{
        line-height: 30px;
      }


    }
  }

}
