.project-page{

  .sub-hint{
    font-size: 12px;
    color: #a1a1a1;
  }

  .edit-wrap{
    width: 100%;

    .save-cancel{
      position: relative;
      bottom: 40px;
    }
    .delete{
      color: #e93578;
      span{
        font-size: 13px;
      }
    }
    .user-field-container{
      width: 100%;
    }
  }

  #deleteProject{
    .modal-body{
      text-align: center;
      .modal-message{
        line-height: 30px;
      }
    }
  }

}
