.project-page{

  .title-start-container{
    position: relative;

    .project-title{
      width: 68%;
      font-size: 17px;

      @include breakpoint(w500){
        width: 80%;
        font-size: 24px;
      }
    }
    .start-btn{
      bottom: 0;
      right: 0;
      position: absolute;
    }
  }

  .sub-hint{
    font-size: 12px;
    color: #a1a1a1;
  }

  .edit-wrap{
    width: 100%;

    .save-cancel{
      position: relative;
      bottom: 40px;
    }
    .delete{
      color: #e93578;
      span{
        font-size: 13px;
      }
    }
    .user-field-container{
      width: 100%;
    }
  }
}