.small-timer{
  cursor: pointer;
  padding: 13px;
  height: 47px;
  border: 1px solid #5e5e5e;

  .period-type{
    color: #5e5e5e;
  }

  .time-icon{
    font-size: 11px;
    padding-right: 5px;
    color: #5e5e5e;
  }

  .time{
    color: #5e5e5e;
  }
}