<div class="container-fluid timer-container" ng-controller="topItemCtrl">
    <small-timer></small-timer>
    <switch-project></switch-project>
</div>
<div class="container-fluid page-container project-page">

    <div class="title-start-container">
        <h3 class="project-title ellipsis">{{project.title}}</h3>
        <button type="button" class="btn btn-default start-btn" ng-click="pomodoro.toggleProject(project)">
            {{projectsManager.actionTitle(project)}}
        </button>
    </div>
    <div class="info-conteinr">
        <div class="info project-info">
            <h4 class="inf-title">Last project</h4>
            <div class="circles">
                <div class="pomo-inf circle text-center">
                    <span class="count"> {{project.pomo_count}} </span><br>
                    <b> pomo </b>
                </div>
                <div class="min-inf circle text-center">
                    <span class="count"> {{project.time}} </span><br>
                    <b> time </b>
                </div>
            </div>
           <div class="table">
               <table >
                   <tbody>
                   <tr>
                       <td>{{project.pomo_cycle_count}}</td>
                       <td>Pomo cycle</td>
                   </tr>
                   <tr>
                       <td>{{project.short_break_count}}</td>
                       <td>Shot break</td>
                   </tr>
                   <tr>
                       <td>{{project.long_break_count}}</td>
                       <td>Long break</td>
                   </tr>
                   </tbody>
               </table>
           </div>
        </div>
    </div>

    <hr>

    <div class="project-settings">
        <h3> Project settings <span class="sub-hint"> (for this project only) </span> </h3>
        <div class="modal fade" id="deleteProject" role="dialog" modal>
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Are you sure?</h4>
                    </div>
                    <div class="modal-body">
                        <h4>{{project.title}}</h4>
                        <p class="modal-message"> project will be deleted along with all the tracking data.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" ng-click="deleteProject()">Delete Project</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="edit-wrap">
        <div class="editable-field-container">
            <form editable-form name="editableForm" onaftersave="editProject()">
                <div>
                    <span class="title">Title:</span>
                    <span class="data ellipsis" editable-text="project.title" e-name="name"
                          onbeforesave="checkName($data)" e-required>
                        {{ project.title || 'empty' }}
                    </span>
                </div>
                <div>
                    <span class="title">Pomo time:</span>
                    <span class="data" editable-number="project.pomo_duration" e-name="pomo_duration"
                          onbeforesave="checkName($data)" e-required>
                        {{ project.pomo_duration || 'empty' }} min
                    </span>
                </div>
                <div>
                    <span class="title">Short break:</span>
                    <span class="data" editable-number="project.short_break_duration" e-name="short_break_duration"
                          onbeforesave="checkName($data)" e-required>
                        {{ project.short_break_duration || 'empty' }} min
                    </span>
                </div>
                <div>
                    <span class="title">Long Break:</span>
                    <span class="data" editable-number="project.long_break_duration" e-name="long_break_duration"
                          onbeforesave="checkName($data)" e-required>
                        {{ project.long_break_duration || 'empty' }} min
                    </span>
                </div>
                <div>
                    <!-- button to show form -->
                    <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                        <span class="icon-pencil"></span>Edit
                    </button>
                    <br>
                    <a href class="delete" ng-click="openDeleteModal()" ng-hide="editableForm.$visible">
                        <span class="icon-cross"></span> Delete
                    </a>
                    <!-- buttons to submit / cancel form -->
                    <span class="save-cancel" ng-show="editableForm.$visible">
                        <button class="btn btn-primary" type="submit"  ng-disabled="editableForm.$waiting">
                            Save
                        </button>
                        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting"
                                ng-click="editableForm.$cancel()">
                            Cancel
                        </button>
                    </span>
                </div>
            </form>
        </div>

    </div>
</div>