<!DOCTYPE html>
<html>
  <head>
    <title>PomoTrecking</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body ng-app="pomoTracking">
    <ui-view></ui-view>
  </body>
</html>
