<!DOCTYPE html>
<html>
  <head>
    <title>PomoTrecking</title>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="action-cable-url" content="<%= ENV["SOCKET_URL"] %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="action-cable-url" content="ws://pomo.sughaj7u8v.us-west-2.elasticbeanstalk.com/cable"/>-->
  </head>

  <body ng-app="pomoTracking">
    <div ng-include="'nav/_nav.html'"></div>
    <ui-view class="ui-page"></ui-view>
  </body>
</html>
