<!DOCTYPE html>
<html>
  <head>
    <title>PomoTrecking</title>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <!--<meta name="action-cable-url" content="ws://pomo.sughaj7u8v.us-west-2.elasticbeanstalk.com/cable"/>-->
    <!--<meta name="action-cable-url" content="wss://pomo-tracking.herokuapp.com/cable"/>-->
    <meta name="action-cable-url" content="ws://localhost:3000/cable"/>
  </head>

  <body ng-app="pomoTracking">
    <div ng-include="'nav/_nav.html'"></div>
    <ui-view class="ui-page"></ui-view>
  </body>
</html>
