<!DOCTYPE html>
<html>
  <head>
    <title>PomoTrecking</title>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="action-cable-url" content="ws://env1.sughaj7u8v.us-west-2.elasticbeanstalk.com//cable"/>
  </head>

  <body ng-app="pomoTracking">
    <div ng-include="'nav/_nav.html'"></div>
    <ui-view></ui-view>
  </body>
</html>
